/app/config/parameters.yml
/build/
/nbproject/private/
/phpunit.xml
/var/
/vendor/
/web/bundles/
/web/components/
/web/assets/
*.cache
*~

#Project files.
/.project
*.iml
.idea

## OS Specific
.DS_Store
Thumbs.db