/app/config/parameters.yml
/app/config/vhost.conf
/build/
/nbproject/private/
/phpunit.xml
/var/
/vendor/
/web/bundles/
/web/components/
/web/assets/
/web/css/
/web/js/
*.cache
*~
.php_cs

#Project files.
/.project
*.iml
.idea

## OS Specific
.DS_Store
Thumbs.db
