/* In case you need to add a gutter above/below an element */
div.prepend-top, .prepend-top
{
	margin-top:0.5em;
}

div.append-bottom, .append-bottom
{
	margin-bottom:0.5em;
}

.bottom
{
	margin-bottom: 0;
}

.label-lg
{
	font-size: 100%;
}