{% extends 'base.html.twig' %}
{% from 'task/task.html.twig' import render_tasks_list %}
{% set title = 'History'|trans %}

{% block body %}
    <div class="col-xs-12">
		<ul class="list-unstyled list-inline">
			<li><a href="{{ path('task_new', {'r': app.request.requestUri}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create task{% endtrans %}</a></li>
		</ul>

        {{ render_tasks_list(tasks) }}
    </div>
{% endblock %}