{% extends 'base.html.twig' %}
{% from 'task/task.html.twig' import render_tasks_list_js %}
{% set title = 'History'|trans %}

{% block body %}
    <div class="col-xs-12">
		<ul class="list-unstyled list-inline">
			<li><a href="{{ path('task_new', {'r': app.request.requestUri}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create task{% endtrans %}</a></li>
		</ul>
		
		<div class="table-responsive">
			<table id="tasks" class="table table-striped table-hover" data-order='[[2, "desc"]]'></table>
		</div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function()
		{
			{{ render_tasks_list_js('#tasks', tasks) }}
		});
	</script>
{% endblock %}